@import 'bootstrap/dist/css/bootstrap';

#logo{
  color: white;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold; 
  letter-spacing: -1px;
}

.navbar{
  background-color: black !important;
}

.nav-link{
  color: white !important;
}

.jumbotron{
  background-image: asset-url('jumbo_photo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}